.column {
  float: left;
  padding: 10px;
  height: 300px; /* Should be removed. Only for demonstration */
}

.left {
  width: 60%;
}

.right {
  width: 40%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

li {
  list-style-type: none;
}

ul {
  padding-left: 0;
}

.is-liked {
  color: darkred;
}

.not-liked {
  color: grey;
}

.example-full-width {
  width: 100%;
}
